:root{
    --color-text:#757575;
    --color-title:#212121;
    --color-link: #2196F3;
}

.body{
    font-family:'Roboto', sans-serif;

}

.container{
        /* width: 100%;
        max-width: 1200px; */
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

ul{
        margin: 0;
        padding-left: 0;
}

img {
       display: block;
}

.list{
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section{
        padding-bottom: 94px;
        padding-top: 94px;
}




/*-------------------HEADER-------------------*/
.header-nav {
        display: flex;
        align-items: center;
}
.header-list {
        display: flex;
        align-items: center;
        gap: 50px;
}

.header > .container{
        display: flex;
        
}

.header{

        border-bottom: #ECECEC 1px solid;
}

.header-logo{
        margin-right: 93px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
}

.logo-web{
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-link);
}
.header-link{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-title);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.current{
color: var(--color-link);
position: relative;
}

.current::after {
        content:'';
        width: 100%;
        height: 4px;
        background: var(--color-link);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
}

.header-link:hover,
.header-link:focus{
    color: var(--color-link);
}

.header-tel{
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-text);
        display: flex;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mailto:hover,
.header-mailto:focus,
.header-tel:hover,
.header-tel:focus{
    color: var(--color-link);
}

.header-list{
        margin-left: auto;
}

.header-mailto{
        padding-top: 32px;
        padding-bottom: 32px;
                
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-text);
        display: flex;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mailto{
        margin-right: 10px;
        fill: currentColor;
}

.icon-tel{
        margin-right: 10px;
        fill: currentColor;

}

/*--------------------MAINE-------------------*/


.hero{ 
        background-color: #2F303A;
        background-color: #2F303A;
        background-image: linear-gradient(rgba(47, 55, 58, 0.4), rgba(47, 55, 58, 0.4)), url(../imges/hero-bg.jpg);
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
}


.hero-title{
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 696px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.hero-btn{
        display: inline-block;
        margin: 0 auto;
        padding: 10px 32px;
        border-color: transparent;
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
        background-color:var(--color-link);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
        background-color: #188CE8;
}

.benefits-list{
        display: flex;
}

.benefits-item{
        width: 270px;
        margin-right: 30px;
}

.benefits-item:nth-child(4n){
        margin-right: 0;
}

.thumb{
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
}

.benefits-title {
        Font style: Bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-title);
}
.benefits-text{
        margin-top: 10px;

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--color-text);
}

.about{
        padding-bottom: 94px;
}

.about-title{
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
}
.about-list{
        display: flex;
        gap: 30px;
}

.about-item-wrap{
        position: relative;
}

.about-text{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
}

.team{  
        background-color: #F5F4FA;
}


.team-soc{
        display: flex;
        justify-content: center;
        gap: 10px;
}

.team-soc-link{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill:#afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus{
        background-color:#2196F3;
        fill: #FFFFFF;
}

.team-list{
        display: flex;
        gap: 30px;
}

.team-title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
}

.team-item{
        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.team-name{
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
}

.team-text{
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-text);
}

.team-box{
        padding: 30px 0;
}


.clients-title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
}
.clients-list{
        display: flex;
        gap: 30px;
}
.clients-item{
        display: flex;
        justify-content: center;
        align-items: center;

}
.clients-link {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
        fill: var(--color-link);
        border: 1px solid var(--color-link);
}



/*-------------------------FOOTER---------------*/
.footer{
        background-color: #2F303A;
        padding: 60px 0;
}
.link-addres{
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.footer-item{
        margin-bottom: 9px
}
.footer-item:nth-last-child(-n+1){
        margin-bottom: 0;
}

.footer-mailto,
.footer-tel{
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}
.link-addres:hover,
.link-addres:focus,
.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tel:focus {
    color:#FFFFFF ;
}

.footer-bloc{
margin-right: 70px;
}

.footer-address{
        width: 231px;
}

.social-networks-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
}

.social-networks-list {
        display: flex;
        width: 206px;
}

.social-networks-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #FFFFFF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus {
        background-color: #2196F3;
}

.social-networks-list {
        display: flex;
        gap: 10px;
}

.footer-box{
        display: flex;
        align-items: baseline;
}


.email-form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 93px;
}

.email-box{
        display: flex;
        width: 100%;
        justify-content: flex-end;
}

.input-email{
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        width: 358px;
        height: 50px;
        background-color: #2F303A;
        margin-right: 12px;
        padding-left: 16px;
        outline: none;
        color: #FFFFFF; 
}


.button-submit{
        background: var(--color-link);
        border: var(--color-link);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 10px 28px;
        width: 200px;
        height: 50px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-submit-icon{
        fill: #FFFFFF;
}

.button-submit:hover,
.button-submit:focus {
        background-color: #188CE8;
        cursor: pointer;
}

.submit-text{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-right: 10px;
}

.input-email::placeholder{
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color:rgba(255, 255, 255, 0.6);
}

/*-------------------------MODAL---------------*/

.backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.2);
}

.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
}

.modal {
        width: 528px;
        min-height: 581px;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}

.button-close{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:focus .button-close,
.button-modal:hover .button-close {
        fill: #2196F3;

}

.modal-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
        margin-bottom: 12px;
}


.label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: #757575;
        display:block;
        margin-bottom: 4px;
}


.modal-field{
        margin-bottom: 10px;
}

.input-wrap {
        position: relative;
}  

.input-modal{
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
}

.input-modal:focus {
        border-color: var(--color-link);     
}

.modal-input-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .modal-input-icon {
        fill: var(--color-link);
}

.modal-field-coment{
        margin-bottom: 20px;
}


.feedback{
        resize: none;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
}

.feedback:focus {
        border-color:var(--color-link);
}

.feedback::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
}

.label-policy{
        display: flex;
        align-items: center;
}

.label-policy .modal-chec-icon{
        width: 16px;
        height: 15px;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-policy:checked + .label-policy .modal-chec-icon{
        background-color: var(--color-link);
        border: none;
        fill: #ffffff;
}
.checkbox-policy:focus+.label-policy .modal-chec-icon{
        border-color: var(--color-link);
}

.modal-button-submit{
        background: var(--color-link);
        border: var(--color-link);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 10px 52px;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
        background-color: #188CE8;
        cursor: pointer;
}

.modal-submit-text{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}

.modal-field-policy{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
}

.terms{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: var(--color-link);
}

.label-policy span{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        margin-right: 5px;
}



/*-------------------------PORTFOLIO---------------*/

.header-link-portfolio{
        color: #2196F3;
}

.portfolio-btn-list{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;
}

.box-portfolio{
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        background: #FFFFFF;
        }


.portfolio-btn{
        padding: 6px 22px;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
        cursor: pointer;
        background-color: #F5F4FA;
        border-radius: 4px;
        border-color: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        cursor: pointer;
        background-color: #2196F3;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
        color: #FFFFFF;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-wrap {
        position: relative;
        overflow: hidden;
}

.portfolio-description {
        position: absolute;
        padding: 63px 24px;

        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background-color: rgba(33, 150, 243, 0.9);
        height: 100%;
        
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        top: 0;
        left: 0;
        
}

.portfolio-item:hover .portfolio-description,
.portfolio-item:focus .portfolio-description{
        transform: translateY(0);
}

.portfolio-link{
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-link:hover,
.portfolio-link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);       
}


.portfolio-title-name{
        margin-bottom: 4px;

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-title);
}


.portfolio-text{
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        cursor: pointer;
        color: var(--color-text);
}
        


.portfolio-img-list{
        display: flex;
        flex-wrap: wrap; 
        gap: 30px;     
}


.header-logo-footer{
        margin-bottom: 20px;
        display: inline-block;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}



